/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";
$mq-breakpoints: (
    mobile:  480px,
    tablet:  772px,
    desktop: 1024px,
    wide:    1400px
);
@import "mq";
$bleu: rgb(112,171,207);
@mixin animeLiens{
	border-top: 3px solid $bleu;
	margin-top: -3px;
}
@mixin section{
	padding-top: 100px;	
	position: relative;
	height: 100vh;
}
@mixin boutton{
	background-color: $bleu;
	color: white;
}
@mixin fleches{
	display: block;
	background-color: silver;
	font-size: 18px;
	color: white;
	line-height: 55px;
	@include mq($from: tablet, $until: desktop) {
		line-height: 45px;
	}
}
@mixin titre{
	text-align: center;
	font-size:30px;
	@include mq($until: mobile) {
		font-size: 10px;
	}
	@include mq($from: mobile, $until: tablet) {
		font-size: 14px;
	}
}
@mixin sousTitre{
	text-align: center;
	font-size: 14px;
	margin-bottom: 30px;
	@include mq($until: mobile) {
		font-size: 9px;
	}
}
@mixin trait{
	width: 200px;
	height: 1px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: silver;
	position: relative;
	@include mq($until: mobile) {
		width: 80px;
	}
	@include mq($from: mobile, $until: tablet) {
		width: 120px;
	}
}
@mixin rond{
	width: 10px;
	height: 10px;
	background-color: $bleu;
	border-radius: 25px;
	border: 2px solid white;
	position: absolute;
	margin-left: 95px;
	margin-top: -6px;
	@include mq($until: mobile) {
		margin-left: 35px;
	}
	@include mq($from: mobile, $until: tablet) {
		margin-left: 55px;
	}
}
/* DEBUT DU SCSS */
body{
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	/*overflow: hidden;*/
	.container{
		position: absolute;
		left: 50%;
		display: flex;
		flex-direction: column;
		@include mq($until: mobile) {
	        width: 300px;
	        margin-left: -150px;
    	}
    	@include mq($from: mobile, $until: tablet) {
        	width: 700px;
	        margin-left: -350px;
    	}
    	@include mq($from: tablet, $until: desktop) {
        	width: 950px;
	        margin-left: -475px;
    	}
    	@include mq($from: desktop, $until: wide) {
        	width: 1200px;
	        margin-left: -600px;
    	}
    	width:1600px;
		margin-left: -800px;
/* HEADER FIXED EN TOP: LOGO ET MENU */
		.header{
			width: 1600px;
			height: 100px;
			position: fixed;
			z-index:800;
			margin-top: -1px;
			display: flex;
			justify-content: space-around;
			background-color: white;
			@include mq($until: mobile) {
		        width: 300px;
		        height: 110px;
		        flex-direction: column;
	    	}
	    	@include mq($from: mobile, $until: tablet) {
	        	width: 700px;
	        	height: 130px;
	        	flex-direction: column;
	    	}
	    	@include mq($from: tablet, $until: desktop) {
	        	width: 950px;
	    	}
	    	@include mq($from: desktop, $until: wide) {
	        	width: 1200px;
	    	}
			.logo{
				@include mq($until: mobile) {
					width: 253px;
					height: 57px;
			        margin: 0 auto;
			        margin-top: 5px;
		    	}
		    	@include mq($from: mobile, $until: tablet) {
		        	width: 253px;
					height: 57px;
			        margin: 0 auto;
		    	}
		    	width: 253px;
				height: 57px;
				margin-top: 21px;
				background-image: url('../images/logo.png');
			}
			.liens{
				@include mq($until: mobile) {
			        width: 300px;
			        height: 30px;
			        justify-content: space-around;
		    	}
		    	@include mq($from: mobile, $until: tablet) {
		        	width: 700px;
		        	height: 30px;
		        	justify-content: space-around;
		    	}
		    	@include mq($from: tablet, $until: desktop) {
		        	width: 600px;
		    	}
		    	@include mq($from: desktop, $until: wide) {
		        	width: 800px;
		    	}
		    	width: 700px;
				display: flex;
				justify-content: space-between;
				list-style: none;
				margin-top: 21px;
				li{
					line-height: 57px;
					@include mq($until: mobile) {
				    	line-height: 30px;
			    	}
			    	@include mq($from: mobile, $until: tablet) {
			        	line-height: 30px;	
			    	}
					a{
						color: black;
						font-size:18px;
						font-weight: 800;
						text-decoration: none;
						display: block;
						@include mq($until: mobile) {
					    	font-size:12px;
					    	font-weight: 400;
				    	}
				    	@include mq($from: mobile, $until: tablet) {
				        	font-size:12px;	
				        	font-weight: 400;
				    	}
					}
					a:hover{
						@include animeLiens;
					}	
				}
			}
		}
/* SECTION 1 : ECRAN D'ACCUEIL */
		.accueil{
			@include section;
			@include mq($until: mobile) {
				padding-top: 140px;
				height: 0vh;
			}
			@include mq($from: mobile, $until: tablet) {
				padding-top: 140px;
				height: 150px;
			}
			.slider{
				width: 1600px;
				height: 550px;
				overflow:hidden;
				@include mq($until: mobile) {
			        width: 300px;
			        height: 103px;
		    	}
		    	@include mq($from: mobile, $until: tablet) {
		        	width: 700px;
		        	height: 240px;
		    	}
		    	@include mq($from: tablet, $until: desktop) {
		        	width: 950px;
		        	height: 326px;
		    	}
		    	@include mq($from: desktop, $until: wide) {
		        	width: 1200px;
		        	height: 412px;
		    	}
				.slideshow{
					width: 3200px;
					top: 0;
					left: 0;
					@include mq($until: mobile) {
				        width: 300px;
			    	}
			    	@include mq($from: mobile, $until: tablet) {
			        	width: 700px;
			    	}
			    	@include mq($from: tablet, $until: desktop) {
			        	width: 1900px;
			    	}
			    	@include mq($from: desktop, $until: wide) {
			        	width: 2400px;
			    	}
					li{
						display: inline-block;
					}
					.slider1{
						width: 1600px;
						height: 550px;
						background-image: url('../images/bg1.jpg');
						transition: left 2s ease;
						@include mq($until: mobile) {
					        width: 300px;
					        height: 103px;
					        background-size: 300px 103px;
				    	}
				    	@include mq($from: mobile, $until: tablet) {
				        	width: 700px;
				        	height: 240px;
				        	background-size: 700px 240px;
				    	}
				    	@include mq($from: tablet, $until: desktop) {
				        	width: 950px;
				        	height: 326px;
				        	background-size: 950px 326px;
				    	}
				    	@include mq($from: desktop, $until: wide) {
				        	width: 1200px;
				        	height: 412px;
				        	background-size: 1200px 412px;
				    	}
						.slogan{
							font-size:30px;
							padding-top: 140px;
							padding-left: 100px;
							@include mq($until: mobile) {
								font-size: 7px;
								padding-top: 10px;
								padding-left: 10px;
								line-height: 10px;
							}
							@include mq($from: mobile, $until: tablet) {
								font-size: 20px;
								padding-top: 30px;
								padding-left: 30px;
								line-height: 26px;
							}
							@include mq($from: tablet, $until: desktop) {
								font-size: 22px;
								padding-top: 60px;
								padding-left: 60px;
								line-height: 30px;
							}
							@include mq($from: desktop, $until: wide) {
								padding-top: 60px;
								line-height: 40px;
							}
							.bleu{
								color: $bleu;
							}
							.blanc{
								color: white;
							}
						}
						.sousSlogan{
							color: white;
							font-size: 14px;
							padding-left: 100px;
							@include mq($until: mobile) {
								font-size: 6px;
								padding-left: 10px;
								padding-top: 10px;
							}
							@include mq($from: mobile, $until: tablet) {
								font-size: 12px;
								padding-left: 30px;
								padding-top: 10px;
							}
							@include mq($from: tablet, $until: desktop) {
								font-size: 14px;
								padding-left: 60px;
								padding-top: 20px;
							}
							@include mq($from: desktop, $until: wide) {
								padding-top: 30px;
								padding-bottom: 20px;
								font-size: 16px;
							}
						}
						.boutonInfo{
							@include boutton;
							font-size: 16px;
							border-radius: 5px;
							margin-top: 20px;
							margin-left: 100px;
							@include mq($until: mobile) {
								display: none;
							}
							@include mq($from: mobile, $until: tablet) {
								display: none;
							}
							@include mq($from: tablet, $until: desktop) {
								margin-left: 60px;
								margin-top: 40px;
								font-size: 12px;
							}
						}
					}
					#slider1:target{
						left: -1600px;
						@include mq($until: mobile) {
							display: none;
						}
						@include mq($from: mobile, $until: tablet) {
							display: none;
						}
						@include mq($from: tablet, $until: desktop) {
							left: -950px;
						}
						@include mq($from: desktop, $until: wide) {
							left: -1200px;
						}
					}
					.slider2{
						width: 1600px;
						height: 550px;
						background-image: url('../images/bg2.jpg');
						transition: left 1s;
						@include mq($until: mobile) {
					        display: none;
				    	}
				    	@include mq($from: mobile, $until: tablet) {
				        	display: none;
				    	}
				    	@include mq($from: tablet, $until: desktop) {
				        	width: 950px;
				        	height: 326px;
				        	background-size: 950px 326px;
				    	}
				    	@include mq($from: desktop, $until: wide) {
				        	width: 1200px;
				        	height: 412px;
				        	background-size: 1200px 412px;
				    	}
					}
					#slider2:target{
						left: 1600px;
						@include mq($until: mobile) {
							display: none;
						}
						@include mq($from: mobile, $until: tablet) {
							display: none;
						}
						@include mq($from: tablet, $until: desktop) {
							left: 950px;
						}
						@include mq($from: desktop, $until: wide) {
							left: 1200px;
						}
					}
				}
			}
			.fleches{
					@include mq($until: mobile) {
						display: none;
					}
					@include mq($from: mobile, $until: tablet) {
						display: none;
					}
					@include mq($from: tablet, $until: desktop) {
						width: 950px;
						height: 45px;
						top: 230px;
					}
					@include mq($from: desktop, $until: wide) {
						width: 1200px;
						height: 55px;
						top: 270px;
					}
					width: 1600px;
					height: 55px;
					position: absolute;
					top: 247px;
					display: flex;
					justify-content: space-between;
					z-index:5000;
					.flecheGauche{
						@include fleches;
						width: 25px;
						border-radius:0 25px 25px 0;
						padding-left: 5px;
						text-decoration: none;
					}
					.flecheGauche:hover{
						background-color: $bleu;
					}
					.flecheDroite{
						@include fleches;
						width: 15px;
						border-radius:25px 0 0 25px;
						padding-left: 15px;
						text-decoration: none;
					}
					.flecheDroite:hover{
						background-color: $bleu;
					}			 
			}
			//.slider2:target .fleches{
					//left: 1600px;
			//}		
		}
/* SECTION 2 : SERVICES */
		.services{
			@include section;
			@include mq($until: mobile) {
				height: 560px;
			}
			@include mq($from: mobile, $until: tablet) {
				height: 900px;
			}
			@include mq($from: tablet, $until: desktop) {
				height: 600px;
			}
			@include mq($from: desktop, $until: wide) {
				height: 800px;
			}
			.titreSection{
				h1{
					@include titre;
					padding-top: 40px;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.positionServices{
				display: flex;
				justify-content: space-between;
				@include mq($until: mobile) {
					flex-direction: column;
				}
				@include mq($from: mobile, $until: tablet) {
					flex-direction: column;
				}
				.image{
					width: 510px;
					height: 319px;
					margin-top: 20px;
					@include mq($until: mobile) {
						display: block;
						margin: 0 auto;
						width: 200px;
						height: 125px;
						background-size: 200px 125px;
					}
					@include mq($from: mobile, $until: tablet) {
						display: block;
						margin: 0 auto;
						width: 400px;
						height: 250px;
						background-size: 400px 250px;
					}
					@include mq($from: tablet, $until: desktop) {
						width: 300px;
						height: 187px;
						background-size: 300px 187px;
						margin-top: 80px;
					}
					@include mq($from: desktop, $until: wide) {
						width: 400px;
						height: 250px;
						background-size: 400px 250px;
						margin-top: 50px;
					}
				}
				.listeMetiers{
					width: 1200px;
					list-style: none;
					margin-top: 50px;
					@include mq($until: mobile) {
						width: 300px;
					}
					@include mq($from: mobile, $until: tablet) {
						width: 700px;
					}
					@include mq($from: tablet, $until: desktop) {
						width: 800px;
					}
					@include mq($from: desktop, $until: wide) {
						width: 1200px;
					}
					li{
						display: flex;
						justify-content: space-around;
					}
					i{
						display: block;
						width: 50px;
						height: 50px;
						line-height: 50px;
						font-size: 25px;
						border: 1px solid silver;
						border-radius: 25px;
						color: $bleu;
						text-align: center;
						position: relative;
						@include mq($until: mobile) {
							width: 20px;
							height: 20px;
							line-height: 20px;
							font-size: 10px;
							margin-top: 15px;
						}
						@include mq($from: mobile, $until: tablet) {
							margin-top: 5px;
						}
						@include mq($from: desktop, $until: wide) {
							margin-left: 40px;
							margin-top: 5px;
						}
						span{
							display: block;
							width: 10px;
							height: 10px;
							position: absolute;
							left: 43px;
							top: 19px;
							border-radius: 25px;
							border: 2px solid white;
							background-color: $bleu;
							@include mq($until: mobile) {
								width: 5px;
								height: 5px;
								left: 15px;
								top: 6px;
							}
						}
					}
					.definition{
						width: 1000px;
						margin-bottom: 40px;
						@include mq($until: mobile) {
							width: 240px;
						}
						@include mq($from: mobile, $until: tablet) {
							width: 550px;
						}
						@include mq($from: tablet, $until: desktop) {
							width: 500px;
						}
						@include mq($from: desktop, $until: wide) {
							width: 620px;
						}
						h1{
							font-weight: bold;
							font-size: 14px;
							line-height: 20px;
							@include mq($until: mobile) {
								font-size: 5px;
							}
							@include mq($from: mobile, $until: tablet) {
								font-size: 12px;
							}
						}
						p{
							font-size: 12px;
							line-height: 14px;
							@include mq($until: mobile) {
								font-size: 6px;
								line-height: 7px;
							}
						}
					}	
				}
			}	
		}
/* SECTION 3 : PROJETS */
		.portfolio{
			@include section;
			background-color: rgb(245,245,245);
			height: 800px;
			@include mq($until: mobile) {
				height: 1550px;
				padding-top: 0;
			}
			@include mq($from: mobile, $until: tablet) {
				height: 2500px;
				padding-top: 0;
			}
			@include mq($from: tablet, $until: desktop) {
				height: 1350px;
			}
			@include mq($from: desktop, $until: wide) {
				height: 1100px;
			}
			.titrePortfolio{
				h1{
					@include titre;
					padding-top: 30px;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.menuPortfolio{
				display: flex;
				justify-content: center;
				margin-top: 40px;
				margin-bottom: 40px;
				@include mq($until: mobile) {
					margin-bottom: 20px;
					margin-top: 20px;
				}
				li{
					list-style: none;
					position: relative;
					display: block;
						.firstChild{
							border-radius: 5px 0 0 5px;
						}
						.lastChild{
							border-radius: 0 5px 5px 0;	
						}
					a{
						display: block;
						width: 90px;
						height: 30px;
						background-color: rgb(227,227,227);
						line-height: 30px;
						text-align: center;
						font-size: 14px;
						color: black;
						text-decoration: none;
						@include mq($until: mobile) {
							font-size: 8px;
							width: 50px;
							line-height: 16px;
							height: 16px;
						}
						@include mq($from: mobile, $until: tablet) {
							font-size: 14px;
						}
					}
					a:hover{
						background-color: $bleu;
						color: white;
						border-bottom: 3px solid rgb(85,140,170);
						margin-bottom: -3px;
						@include mq($until: mobile) {
							border-bottom: 2px solid rgb(85,140,170);
							margin-bottom: -2px;
						}
						span{
							display: block;
							width: 0;
							height: 0;
							position: absolute;
							margin-left: 39px;
							border-left: 8px solid transparent;
    						border-right: 8px solid transparent;
    						border-top: 8px solid rgb(85,140,170);
    						@include mq($until: mobile) {
    							margin-left: 18px;
    							border-left: 5px solid transparent;
	    						border-right: 5px solid transparent;
	    						border-top: 5px solid rgb(85,140,170);
	    					}
						}
					}
				}
			}
			.cover{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				@include mq($until: mobile) {
					width: 300px;
				}
				li{
					width: 350px;
					height: 233px;
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 40px;
					list-style: none;
					overflow: hidden;
					@include mq($until: mobile) {
						width: 200px;
						height: 133px;
						//margin-left: 2px;
						//margin-right: 2px;
					}
					.creative{
						width: 350px;
						height: 233px;
						background-size: 350px 233px;
						@include mq($until: mobile) {
							width: 140px;
							height: 93px;
							background-size: 140px 93px;
						}
					}
					p{
					  height: 100px;
					  padding: 20px;
					  background-color: rgba(0,0,0,0.7);
					  opacity: 0.8;
					  color: white;
					  transition: margin-top 0.5s ease;
					  @include mq($until: mobile) {
					  	height: 10px;
					  	font-size: 6px;
					  }
					}
				}
				li:hover p{
					margin-top: -100px;
					color: white;
					font-size: 14px;
					position: relative;
					@include mq($until: mobile) {
						font-size: 6px;
					}
						span.grosRond{
						display: block;
						position: absolute;
						border-radius: 25px;
						width: 25px;
						height: 25px;
						background-color: $bleu;
						border: 2px solid white;
						display: block;
						position: absolute;
						top: -12px;
						margin-left: 260px;
						text-align: center;
							.fa{
								font-size: 20px;
								line-height: 25px;
							}
						}
				}
			}
		}
/* SECTION 4 : CONTACT */
		.contact{
			@include section;
			margin-bottom: 200px;
			.titreContact{
				h1{
					@include titre;
					padding-top: 40px;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.responsiveMap{
				position: relative;
				iframe{
					position: absolute;
					top: 0;
					left: 0;
					@include mq($until: mobile) {
						display: none;
					}
					@include mq($from: mobile, $until: tablet) {
						width: 700px;
						height: 218px;
					}
					@include mq($from: tablet, $until: desktop) {
						width: 950px;
						height: 296px;
					}
					@include mq($from: desktop, $until: wide) {
						width: 1200px;
						height: 375px;
					}
				}

			}
			.filtre{
				width: 1600px;
				height: 500px;
				background-color: rgba(143,201,219,0.3);
				position: absolute;
				z-index: 600;
				top: 270px;
				@include mq($until: mobile) {
					display: none;
				}
				@include mq($from: mobile, $until: tablet) {
					width: 700px;
					height: 218px;
					top: 253px;
				}
				@include mq($from: tablet, $until: desktop) {
						width: 950px;
						height: 296px;
					}
				@include mq($from: desktop, $until: wide) {
					width: 1200px;
					height: 375px;
				}
				.infos{
					width: 280px;
					height: 430px;
					background-color: rgba(255,255,255,0.9);
					border: 1px dotted silver;
					margin-top: 30px;
					margin-left: 1050px;
					position: absolute;
					@include mq($until: mobile) {
						display: none;
					}
					@include mq($from: mobile, $until: tablet) {
						display: none;
					}
					@include mq($from: tablet, $until: desktop) {
						margin-left: 305px;
						margin-top: 10px;
						height: 270px;
					}
					@include mq($from: desktop, $until: wide) {
						margin-left: 700px;
						margin-top: 10px;
						height: 355px;
					}
					h3{
						margin-left:10px;
						margin-top: 30px;
						font-weight: 800;
						@include mq($from: tablet, $until: desktop) {
							display: none;
						}
					}
					.adresse{
						font-size: 14px;
						font-weight: 800;
						margin-left: 10px;
						line-height: 20px;
						@include mq($from: tablet, $until: desktop) {
							margin-top: -10px;
						}
					}
					input, textarea{
						width: 90%;
						display: block;
						margin: auto;
						margin-bottom: 10px;
						border: 1px solid silver;
						background-color: white;
					}
					.envoyer{
						@include boutton;
						font-size: 12px;
						width: 110px;
						margin-right: 160px;
					}
				}
			}	
			.infosSmall{
					@include mq($until: mobile) {
						width: 280px;
						height: 430px;
						h3{
							display: none;
						}
						.adresse{
							font-size: 12px;
							font-weight: 400;
							margin-left: 10px;
							line-height: 14px;
						}
						input, textarea{
							width: 100%;
							display: block;
							margin: auto;
							margin-bottom: 10px;
							border: 1px solid silver;
							background-color: white;
						}
						.envoyer{
							@include boutton;
							font-size: 12px;
							width: 110px;
							margin-right: 160px;
						}
					}
					@include mq($from: mobile, $until: tablet) {
						margin-top: 280px;
						h3{
							display: none;
						}
						.adresse{
							font-size: 12px;
							font-weight: 400;
							margin-left: 10px;
							line-height: 14px;
						}
						input, textarea{
							width: 100%;
							display: block;
							margin: auto;
							margin-bottom: 10px;
							border: 1px solid silver;
							background-color: white;
							@include mq($from: mobile, $until: tablet) {
								border: 2px solid silver;
								width: 100%;
							}
						}
						.envoyer{
							@include boutton;
							font-size: 12px;
							width: 110px;
							margin-right: 160px;
							@include mq($from: mobile, $until: tablet) {
								margin-left: 0;
							}
						}
					}
			}
		}
/*FIN DU CONTAINER*/
	}
/*FIN DU BODY*/
}