/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import"compass";
@import "compass/reset";
$bleu: rgb(112,171,207);
@mixin animeLiens{
	border-top: 3px solid $bleu;
	margin-top: -3px;
}
@mixin section{
	padding-top: 100px;	
	position: relative;
	height: 100vh;
}
@mixin boutton{
	background-color: $bleu;
	color: white;
}
@mixin fleches{
	display: block;
	background-color: silver;
	font-size: 18px;
	color: white;
	line-height: 55px;
}
@mixin titre{
	text-align: center;
	font-size:30px;
}
@mixin sousTitre{
	text-align: center;
	font-size: 14px;
	margin-bottom: 30px;
}
@mixin trait{
	width: 200px;
	height: 1px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: silver;
	position: relative;
}
@mixin rond{
	width: 10px;
	height: 10px;
	background-color: $bleu;
	border-radius: 25px;
	border: 2px solid white;
	position: absolute;
	margin-left: 95px;
	margin-top: -6px;
}
/* DEBUT DU SCSS */
body{
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	/*overflow: hidden;*/
	.container{
		position: absolute;
		left: 50%;
		width:1600px;
		margin-left: -800px;
		@media screen and (max-width: 1400px){
			width: 1200px;
			margin-left: -600px;
		}
		@media screen and (max-width: 1200px){
			width: 1000px;
			margin-left: -500px;
		}
		@media screen and (max-width: 1000px){
			width: 800px;
			margin-left: -400px;
		}
		@media all screen and (max-device-width: 770px){
			width: 700px;
			margin-left: -350px;
		}
		@media all screen and (max-device-width: 480px){
			width: 400px;
			margin-left: -200px;
		}
/* HEADER FIXED EN TOP: LOGO ET MENU */
		.header{
			width: 1600px;
			height: 100px;
			position: fixed;
			z-index:800;
			margin-top: -1px;
			display: flex;
			justify-content: space-around;
			background-color: white;
			@media screen and (max-device-width: 1400px){
				width: 1200px;
				height: 100px;
			}
			@media screen and (max-device-width: 1200px){
				width: 1000px;
				height: 100px;
				justify-content: space-between;
			}
			@media screen and (max-device-width: 1000px){
				width: 800px;
				height: 100px;
				justify-content: space-between;
			}
			@media all screen and (max-device-width: 770px){
				width: 700px;
				height: 200px;
				flex-direction: column;
			}
			@media all screen and (max-device-width: 480px){
				width: 400px;
				height: 200px;
				flex-direction: column;
			}
			.logo{
				width: 253px;
				height: 57px;
				margin-top: 21px;
				background-image: url('../images/logo.png');
				@media screen and (max-width: 770px){
					margin: auto;
					display: block;

				}
			}
			.liens{
				width: 700px;
				display: flex;
				justify-content: space-between;
				list-style: none;
				margin-top: 21px;
				@media screen and (max-width: 1400px){
					width: 400px;
				}
				@media screen and (max-width: 1200px){
					width: 350px;
					margin-left: -200px;
				}
				@media handheld and (max-width: 770px){
					width: 700px;
					margin-top: 15px;
					display: block;
				}
				@media handheld and (max-width: 480px){
					width: 400px;
					margin-top: 15px;
				}
				li{
					line-height: 57px;
					@media handheld and (max-width: 770px){
						line-height: 30px;
					}
					a{
						color: black;
						font-size:18px;
						font-weight: 800;
						text-decoration: none;
						display: block;
						@media screen and (max-width: 1400px){
							font-size: 14px;
						}
					}
					a:hover{
						@include animeLiens;
					}	
				}
			}
		}
/* SECTION 1 : ECRAN D'ACCUEIL */
		.accueil{
			@include section;
			.slider{
				width: 1600px;
				height: 550px;
				position:relative;
				overflow:hidden;
				@media screen and (max-device-width: 1400px){
					width: 1200px;
					height: 375px;
				}
				@media screen and (max-device-width: 1200px){
					width: 1000px;
					height: 375px;
				}
				@media screen and (max-device-width: 1000px){
					width: 800px;
					height: 375px;
				}
				@media handheld and (max-device-width: 770px){
					width: 700px;
					height: 375px;
				}
				@media handheld and (max-width: 480px){
					width: 400px;
					height: 137px;
				}
				.slideshow{
					width: 3200px;
					position: absolute;
					top: 0;
					left: 0;
					@media screen and (max-device-width: 1400px){
						width: 2400px;
					}
					@media screen and (max-device-width: 1200px){
						width: 2000px;
					}
					@media screen and (max-device-width: 1000px){
						width: 1600px;
					}
					@media handheld and (max-device-width: 770px){
						width: 1400px;
					}
					@media handheld and (max-width: 480px){
						width: 800px;
					}
					li{
						display: inline-block;
					}
					.slider1{
						width: 1600px;
						height: 550px;
						background-image: url('../images/bg1.jpg');
						transition: left 1s;
						@media screen and (max-device-width: 1400px){
							width: 1200px;
							height: 412px;
							background-size: cover;
						}
						@media screen and (max-device-width: 1200px){
							width: 1000px;
							height: 343px;
							background-size: cover;
						}
						@media screen and (max-device-width: 1000px){
							width: 800px;
							height: 275px;
							background-size: cover;
						}
						@media handheld and (max-device-width: 770px){
							width: 700px;
							height: 240px;
							background-size: cover;
						}
						@media handheld and (max-width: 480px){
							width: 400px;
							height: 137px;
							background-size: cover;
						}
						.slogan{
							font-size:30px;
							padding-top: 140px;
							padding-left: 100px;
							.bleu{
								color: $bleu;
							}
							.blanc{
								color: white;
							}
						}
						.sousSlogan{
							color: white;
							font-size: 14px;
							padding-left: 100px;
						}
						.boutonInfo{
							@include boutton;
							font-size: 16px;
							border-radius: 5px;
							margin-top: 20px;
							margin-left: 100px;
						}
					}
					#slider1:target{
						left: -1600px;
						@media screen and (max-device-width: 1400px){
							left: -1200px;
						}
						@media screen and (max-device-width: 1200px){
							left: -1000px;
						}
						@media screen and (max-device-width: 1000px){
							left: -800px;
						}
						@media handheld and (max-device-width: 770px){
							left: -700px;
						}
						@media handheld and (max-width: 480px){
							left: -400px;
						}
					}
					.slider2{
						width: 1600px;
						height: 550px;
						background-image: url('../images/bg2.jpg');
						transition: left 1s;
						@media screen and (max-device-width: 1400px){
							width: 1200px;
							height: 412px;
							background-size: cover;
						}
						@media screen and (max-device-width: 1200px){
							width: 1000px;
							height: 343px;
							background-size: cover;
						}
						@media screen and (max-device-width: 1000px){
							width: 800px;
							height: 275px;
							background-size: cover;
						}
						@media handheld and (max-device-width: 770px){
							width: 700px;
							height: 240px;
							background-size: cover;
						}
						@media handheld and (max-width: 480px){
							width: 400px;
							height: 137px;
							background-size: cover;
						}
					}
					#slider2:target{
						left: 1600px;
						@media screen and (max-device-width: 1400px){
							left: 1200px;
						}
						@media screen and (max-device-width: 1200px){
							left: 1000px;
						}
						@media screen and (max-device-width: 1000px){
							left: 800px;
						}
						@media handheld and (max-device-width: 770px){
							left: 700px;
						}
						@media handheld and (max-width: 480px){
							left: 400px;
						}
					}
				}
			}
			.fleches{
					width: 1600px;
					height: 55px;
					position: absolute;
					top: 247px;
					display: flex;
					justify-content: space-between;
					@media screen and (max-device-width: 1400px){
						width: 1200px;
						top: 178px;
					}
					@media screen and (max-device-width: 1200px){
						width: 1000px;
						top: 144px;
					}
					@media screen and (max-device-width: 1000px){
						width: 800px;
						top: 110px;
					}
					@media handheld and (max-device-width: 770px){
						width: 700px;
						top: 92px;
					}
					@media handheld and (max-width: 480px){
						width: 400px;
						top: 41px;
					}
					.flecheGauche{
						@include fleches;
						width: 25px;
						border-radius:0 25px 25px 0;
						padding-left: 5px;
						text-decoration: none;
					}
					.flecheGauche:hover{
						background-color: $bleu;
					}
					.flecheDroite{
						@include fleches;
						width: 15px;
						border-radius:25px 0 0 25px;
						padding-left: 15px;
						text-decoration: none;
					}
					.flecheDroite:hover{
						background-color: $bleu;
					}			 
			}
			.slider2:target .fleches{
					left: 1600px;
			}		
		}
/* SECTION 2 : SERVICES */
		.services{
			@include section;
			.titreSection{
				h1{
					@include titre;
					padding-top: 40px;
					@media screen and (max-device-width: 1400px){
						padding-top: 25px;
					}
					@media screen and (max-device-width: 1400px){
						font-size: 25px;
					}
					@media handheld and (max-device-width: 770px) and (orientation: portrait){
						font-size: 10px;
					}
					@media handheld and (max-device-width: 480px) and (orientation: portrait){
						font-size: 10px;
					}
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.positionServices{
				display: flex;
				justify-content: space-between;
				@media handheld and (max-device-width: 770px){
					display: block;
				}
				.image{
					width: 510px;
					height: 319px;
					background-image: url("../images/main-feature.png");
					margin-top: 20px;
					@media screen and (max-device-width: 1400px){
						width: 400px;
						height: 250px;
						background-size: 400px 250px;
						margin-top: 35px;
					}
					@media screen and (max-device-width: 1200px){
						width: 300px;
						height: 187px;
						background-size: 300px 187px;
						margin-top: 60px;
					}
					@media screen and (max-device-width: 1000px){
						width: 250px;
						height: 156px;
						background-size: 250px 156px;
						margin-top: 60px;
					}
				}
				.listeMetiers{
					width: 1200px;
					list-style: none;
					margin-top: 50px;
					@media screen and (max-device-width: 1400px){
						width: 850px;
						margin-top: 30px;
					}
					@media screen and (max-device-width: 1200px){
						width: 700px;
						margin-top: 40px;
					}
					@media screen and (max-device-width: 1000px){
						width: 600px;
						margin-top: 40px;
					}
					@media handheld and (max-device-width: 770px){
						width: 700px;
						margin-top: 40px;
					}
					li{
						display: flex;
						justify-content: space-around;
					}
					i{
						display: block;
						width: 50px;
						height: 50px;
						line-height: 50px;
						font-size: 25px;
						border: 1px solid silver;
						border-radius: 25px;
						color: $bleu;
						text-align: center;
						position: relative;
						@media screen and (max-device-width: 1200px){
							width: 40px;
							height: 40px;
							font-size: 20px;
							line-height: 40px;
						}
						span{
							display: block;
							width: 10px;
							height: 10px;
							position: absolute;
							left: 43px;
							top: 19px;
							border-radius: 25px;
							border: 2px solid white;
							background-color: $bleu;
							@media screen and (max-device-width: 1200px){
								width: 8px;
								height: 8px;
								left: 34px;
								top: 15px;
							}
						}
					}
					.definition{
						width: 1000px;
						margin-bottom: 40px;
						@media screen and (max-device-width: 1400px){
							width: 700px;
						}
						@media screen and (max-device-width: 1200px){
							width: 600px;
						}
						@media screen and (max-device-width: 1000px){
							width: 500px;
						}
						@media handheld and (max-device-width: 770px){
							width: 600px;
						}
						h1{
							font-weight: bold;
							font-size: 14px;
							line-height: 20px;
						}
						p{
							font-size: 12px;
							line-height: 14px;
						}
					}	
				}
			}	
		}
/* SECTION 3 : PROJETS */
		.portfolio{
			@include section;
			background-color: rgb(245,245,245);
			height: 800px;
			@media screen and (max-device-width: 1400px){
				height: 1050px;
			}
			@media screen and (max-device-width: 1200px){
				height: 1340px;
			}
			.titrePortfolio{
				h1{
					@include titre;
					padding-top: 40px;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.menuPortfolio{
				display: flex;
				justify-content: center;
				margin-top: 40px;
				margin-bottom: 40px;
				li{
					list-style: none;
					position: relative;
					display: block;
						.firstChild{
							border-radius: 5px 0 0 5px;
						}
						.lastChild{
							border-radius: 0 5px 5px 0;	
						}
					a{
						display: block;
						width: 90px;
						height: 30px;
						background-color: rgb(227,227,227);
						line-height: 30px;
						text-align: center;
						font-size: 14px;
						color: black;
						text-decoration: none;
						
					}
					a:hover{
						background-color: $bleu;
						color: white;
						border-bottom: 3px solid rgb(85,140,170);
						margin-bottom: -3px;
						span{
							display: block;
							width: 0;
							height: 0;
							position: absolute;
							margin-left: 39px;
							border-left: 8px solid transparent;
    						border-right: 8px solid transparent;
    						border-top: 8px solid rgb(85,140,170);
    						margin-bottom: -3px;
						}
					}
				}
			}
			.cover{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				li{
					width: 350px;
					height: 233px;
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 40px;
					list-style: none;
					overflow: hidden;
					.creative{
						width: 350px;
						height: 233px;
						background-size: 350px 233px;
					}
					p{
					  height: 100px;
					  padding: 20px;
					  background-color: rgba(0,0,0,0.7);
					  opacity: 0.8;
					  transition: margin-top 0.5s ease;
					}
				}
				li:hover p{
					margin-top: -100px;
					color: white;
					font-size: 14px;
					position: relative;
						span.grosRond{
						display: block;
						position: absolute;
						border-radius: 25px;
						width: 25px;
						height: 25px;
						background-color: $bleu;
						border: 2px solid white;
						display: block;
						position: absolute;
						top: -12px;
						margin-left: 260px;
						text-align: center;
							.fa{
								font-size: 20px;
								line-height: 25px;
							}
						}
				}
			}
		}
/* SECTION 4 : CONTACT */
		.contact{
			@include section;
			margin-bottom: 200px;
			.titreContact{
				h1{
					@include titre;
					padding-top: 40px;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.responsiveMap{
				position: relative;
				iframe{
					position: absolute;
					top: 0;
					left: 0;
					@media screen and (max-device-width: 1400px){
						width: 1200px;
						height: 375px;
					}
					@media screen and (max-device-width: 1200px){
						width: 1000px;
						height: 312px;
					}
					@media screen and (max-device-width: 1000px){
						width: 800px;
						height: 250px;
					}
				}

			}
			.filtre{
				width: 1600px;
				height: 500px;
				background-color: rgba(143,201,219,0.3);
				position: absolute;
				z-index: 600;
				top: 270px;
				@media screen and (max-device-width: 1400px){
					width: 1200px;
					height: 375px;
				}
				@media screen and (max-device-width: 1200px){
					width: 1000px;
					height: 312px;
				}
				@media screen and (max-device-width: 1000px){
					width: 800px;
					height: 250px;
				}
				.infos{
					width: 280px;
					height: 430px;
					background-color: rgba(255,255,255,0.9);
					border: 1px dotted silver;
					margin-top: 30px;
					margin-left: 1050px;
					position: absolute;
					@media screen and (max-device-width: 1400px){
						width: 200px;
						height: 318px;
						margin-left: 900px;
					}
					@media screen and (max-device-width: 1200px){
						width: 200px;
						height: 290px;
						margin-left: 750px;
						margin-top: 10px;
					}
					@media screen and (max-device-width: 1000px){
						width: 200px;
						height: 220px;
						margin-left: 380px;
						margin-top: 18px;
					}
					h3{
						margin-left:10px;
						margin-top: 30px;
						font-weight: 800;
						@media screen and (max-device-width: 1400px){
							margin-top: 20px;
						}
						@media screen and (max-device-width: 1200px){
							margin-top: 10px;
						}
						@media screen and (max-device-width: 1000px){
							margin-top: 8px;
							font-size: 13px;
						}
					}
					.adresse{
						font-size: 14px;
						font-weight: 800;
						margin-left: 10px;
						line-height: 20px;
						@media screen and (max-device-width: 1400px){
							line-height: 15px;
						}
						@media screen and (max-device-width: 1000px){
							line-height: 13px;
							font-size: 13px;
							margin-top: -10px;
							margin-bottom: -10px;
						}
					}
					input, textarea{
						width: 90%;
						display: block;
						margin: auto;
						margin-bottom: 10px;
						border: 1px solid silver;
						background-color: white;
						@media screen and (max-device-width: 1000px){
							margin-top: -5px;
						}
					}
					.envoyer{
						@include boutton;
						font-size: 12px;
						width: 110px;
						margin-right: 160px;
						@media screen and (max-device-width: 1400px){
							margin-left: 8px;
						}
					}
				}
			}	
		}
/*FIN DU CONTAINER*/
	}
/*FIN DU BODY*/
}