@media screen and (max-width-device = "1200px"){

	.container{
		width:1000px;
/* HEADER FIXED EN TOP: LOGO ET MENU */
		.header{
			width: 1000px;
			.liens{
				width: 700px;
			}
		}
/*FIN DU CONTAINER*/
	}




}