/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import"compass";
@import "compass/reset";
$bleu: rgb(112,171,207);
@mixin animeLiens{
	border-top: 3px solid $bleu;
	margin-top: -3px;
}
@mixin section{
	padding-top: 120px;
	margin-bottom: 1000px;	
	position: relative;
}
@mixin boutton{
	background-color: $bleu;
	color: white;
}
@mixin fleches{
	display: block;
	background-color: silver;
	font-size: 18px;
	color: white;
	line-height: 55px;
}
@mixin titre{
	text-align: center;
	font-size:30px;
}
@mixin sousTitre{
	text-align: center;
	font-size: 14px;
	margin-bottom: 30px;
}
@mixin trait{
	width: 200px;
	height: 1px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: silver;
	position: relative;
}
@mixin rond{
	width: 10px;
	height: 10px;
	background-color: $bleu;
	border-radius: 25px;
	border: 2px solid white;
	position: absolute;
	margin-left: 95px;
	margin-top: -6px;
}
/* DEBUT DU SCSS */
body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	overflow: hidden;	
	.container{
		width:1600px;
		margin: 0 auto;
/* HEADER FIXED EN TOP: LOGO ET MENU */
		.header{
			width: 1600px;
			height: 100px;
			position: fixed;
			z-index:800;
			margin-top: -1px;
			display: flex;
			justify-content: space-around;
			background-color: white;
			.logo{
				width: 253px;
				height: 57px;
				margin-top: 21px;
			}
			.liens{
				width: 800px;
				display: flex;
				justify-content: space-between;
				list-style: none;
				margin-top: 21px;
				li{
					line-height: 57px;
					a{
						color: black;
						font-size:18px;
						font-weight: 800;
						text-decoration: none;
						display: block;
					}
					a:hover{
						@include animeLiens;
					}	
				}
			}
		}
/* SECTION 1 : ECRAN D'ACCUEIL */
		.accueil{
			@include section;
			.slider{
				width: 1600px;
				height: 550px;
				position:relative;
				overflow:hidden;
				.slideshow{
					width: 3200px;
					position: absolute;
					top: 0;
					left: 0;
					li{
						display: inline-block;
					}
					.slider1{
						width: 1600px;
						height: 550px;
						background-image: url('../images/bg1.jpg');
						transition: left 1s;
						.slogan{
							font-size:30px;
							padding-top: 140px;
							padding-left: 100px;
							.bleu{
								color: $bleu;
							}
							.blanc{
								color: white;
							}
						}
						.sousSlogan{
							color: white;
							font-size: 14px;
							padding-left: 100px;
						}
						.boutonInfo{
							@include boutton;
							font-size: 16px;
							border-radius: 5px;
							margin-top: 20px;
							margin-left: 100px;
						}
					}
					#slider1:target{
						left: -1600px;
					}
					.slider2{
						width: 1600px;
						height: 550px;
						background-image: url('../images/bg2.jpg');
						transition: left 1s;
					}
					#slider2:target{
						left: 1600px;
					}
				}
			}
			.fleches{
					width: 1600px;
					height: 55px;
					position: absolute;
					top: 247px;
					display: flex;
					justify-content: space-between;
					.flecheGauche{
						@include fleches;
						width: 25px;
						border-radius:0 25px 25px 0;
						padding-left: 5px;
						text-decoration: none;
					}
					.flecheGauche:hover{
						background-color: $bleu;
					}
					.flecheDroite{
						@include fleches;
						width: 15px;
						border-radius:25px 0 0 25px;
						padding-left: 15px;
						text-decoration: none;
					}
					.flecheDroite:hover{
						background-color: $bleu;
					}			 
			}
			.slider2 .fleches{
					left: 1600px;
			}		
		}
/* SECTION 2 : SERVICES */
		.services{
			@include section;
			.titreSection{
				h1{
					@include titre;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.positionServices{
				display: flex;
				justify-content: space-between;
				margin-top: 40px;
				.image{
					width: 510px;
					height: 319px;
					background-image: url("../images/main-feature.png");
					margin-top: 100px;
				}
				.listeMetiers{
					width: 1000px;
					list-style: none;
					margin-top: 80px;
					li{
						display: flex;
						justify-content: space-around;
					}
					i{
						display: block;
						width: 50px;
						height: 50px;
						line-height: 50px;
						font-size: 25px;
						border: 1px solid silver;
						border-radius: 25px;
						color: $bleu;
						text-align: center;
						position: relative;
						span{
							display: block;
							width: 10px;
							height: 10px;
							position: absolute;
							left: 43px;
							top: 19px;
							border-radius: 25px;
							border: 2px solid white;
							background-color: $bleu;
						}
					}
					.definition{
						width: 900px;
						margin-bottom: 40px;
					}	
				}
			}	
		}
/* SECTION 3 : PROJETS */
		.portfolio{
			@include section;
			background-color: rgb(245,245,245);
			.titrePortfolio{
				h1{
					@include titre;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.menuPortfolio{
				display: flex;
				justify-content: center;
				margin-top: 40px;
				margin-bottom: 40px;
				li{
					list-style: none;
					position: relative;
					a{
						display: block;
						width: 90px;
						height: 30px;
						background-color: rgb(227,227,227);
						line-height: 30px;
						text-align: center;
						font-size: 14px;
						color: black;
						text-decoration: none;
					}
					a:hover, .defaut{
						background-color: $bleu;
						color: white;
						border-bottom: 3px solid rgb(85,140,170);
						margin-bottom: -3px;
						span{
							display: block;
							width: 0;
							height: 0;
							position: absolute;
							margin-left: 39px;
							border-left: 8px solid transparent;
    						border-right: 8px solid transparent;
    						border-top: 8px solid rgb(85,140,170);
    						margin-bottom: -3px;
						}
					}
				}
			}
			.cover{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				margin: 0;
				padding: 0;
				li{
					width: 350px;
					height: 233px;
					margin-left: 10px;
					margin-right: 10px;
					margin-bottom: 20px;
					list-style: none;
					overflow: hidden;
					.creative{
						width: 350px;
						height: 233px;
						background-size: 350px 233px;
					}
					p{
					  height: 100px;
					  padding: 20px;
					  background-color: rgba(0,0,0,0.7);
					  opacity: 0.8;
					  transition: margin-top 0.5s ease;
					}
				}
				li:hover p{
					margin-top: -100px;
					color: white;
					font-size: 14px;
					position: relative;
						span.grosRond{
						display: block;
						position: absolute;
						border-radius: 25px;
						width: 25px;
						height: 25px;
						background-color: $bleu;
						border: 2px solid white;
						display: block;
						position: absolute;
						top: -12px;
						margin-left: 260px;
						text-align: center;
							.fa{
								font-size: 20px;
								line-height: 25px;
							}
						}
				}
			}
		}
/* SECTION 4 : CONTACT */
		.contact{
			@include section;
			margin-bottom: 200px;
			.titreContact{
				h1{
					@include titre;
				}
				.trait{
					@include trait;
				}
				.rond{
					@include rond;
				}
				h2{
					@include sousTitre;
				}
			}
			.filtre{
				width: 1600px;
				height: 500px;
				background-color: rgba(143,201,219,0.2);
				position: absolute;
				z-index: 600;
				top: 247px;
				.infos{
					width: 280px;
					height: 430px;
					background-color: rgba(255,255,255,0.9);
					border: 1px dotted silver;
					margin-top: 30px;
					margin-left: 1050px;
					position: absolute;
					h3{
						margin-left:10px;
						margin-top: 30px;
						font-weight: 800;
					}
					.adresse{
						font-size: 14px;
						font-weight: 800;
						margin-left: 10px;
						line-height: 20px;
					}
					input, textarea{
						width: 90%;
						display: block;
						margin: auto;
						margin-bottom: 10px;
						border: 1px solid silver;
						background-color: white;
					}
					.envoyer{
						@include boutton;
						font-size: 12px;
						width: 110px;
						margin-right: 160px;
					}
				}
			}	
		}
/*FIN DU CONTAINER*/
	}
/*FIN DU BODY*/
}