/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* DEBUT DU SCSS */
/* line 57, ../sass/screen.scss */
body {
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  /*overflow: hidden;*/
  /*FIN DU BODY*/
}
/* line 65, ../sass/screen.scss */
body .container {
  position: absolute;
  left: 50%;
  width: 1600px;
  margin-left: -800px;
  /* HEADER FIXED EN TOP: LOGO ET MENU */
  /* SECTION 1 : ECRAN D'ACCUEIL */
  /* SECTION 2 : SERVICES */
  /* SECTION 3 : PROJETS */
  /* SECTION 4 : CONTACT */
  /*FIN DU CONTAINER*/
}
@media screen and (max-device-width: 1400px) {
  /* line 65, ../sass/screen.scss */
  body .container {
    width: 1200px;
    margin-left: -600px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 65, ../sass/screen.scss */
  body .container {
    width: 1000px;
    margin-left: -500px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 65, ../sass/screen.scss */
  body .container {
    width: 800px;
    margin-left: -400px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 65, ../sass/screen.scss */
  body .container {
    width: 700px;
    margin-left: -350px;
  }
}
@media screen and (max-device-width: 480px) {
  /* line 65, ../sass/screen.scss */
  body .container {
    width: 400px;
    margin-left: -200px;
  }
}
/* line 91, ../sass/screen.scss */
body .container .header {
  width: 1600px;
  height: 100px;
  position: fixed;
  z-index: 800;
  margin-top: -1px;
  display: flex;
  justify-content: space-around;
  background-color: white;
}
@media screen and (max-device-width: 1400px) {
  /* line 91, ../sass/screen.scss */
  body .container .header {
    width: 1200px;
    height: 100px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 91, ../sass/screen.scss */
  body .container .header {
    width: 1000px;
    height: 100px;
    justify-content: space-between;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 91, ../sass/screen.scss */
  body .container .header {
    width: 800px;
    height: 100px;
    justify-content: space-between;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 91, ../sass/screen.scss */
  body .container .header {
    width: 700px;
    height: 120px;
    display: block;
  }
}
@media screen and (max-device-width: 480px) {
  /* line 91, ../sass/screen.scss */
  body .container .header {
    width: 400px;
    height: 120px;
    display: block;
  }
}
/* line 124, ../sass/screen.scss */
body .container .header .logo {
  width: 253px;
  height: 57px;
  margin-top: 21px;
  background-image: url("../images/logo.png");
}
@media screen and (max-width: 770px) {
  /* line 124, ../sass/screen.scss */
  body .container .header .logo {
    width: 253px;
    height: 57px;
    margin: 0 auto;
    background-size: cover;
  }
}
/* line 136, ../sass/screen.scss */
body .container .header .liens {
  width: 700px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 21px;
}
@media screen and (max-width: 1400px) {
  /* line 136, ../sass/screen.scss */
  body .container .header .liens {
    width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 136, ../sass/screen.scss */
  body .container .header .liens {
    width: 350px;
    margin-left: -200px;
  }
}
@media screen and (max-width: 770px) {
  /* line 136, ../sass/screen.scss */
  body .container .header .liens {
    width: 700px;
    margin-top: 15px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  /* line 136, ../sass/screen.scss */
  body .container .header .liens {
    width: 400px;
    margin-top: 15px;
    justify-content: space-around;
  }
}
/* line 159, ../sass/screen.scss */
body .container .header .liens li {
  line-height: 57px;
}
@media screen and (max-width: 770px) {
  /* line 159, ../sass/screen.scss */
  body .container .header .liens li {
    line-height: 30px;
  }
}
/* line 164, ../sass/screen.scss */
body .container .header .liens li a {
  color: black;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  display: block;
}
@media screen and (max-width: 1400px) {
  /* line 164, ../sass/screen.scss */
  body .container .header .liens li a {
    font-size: 14px;
  }
}
/* line 174, ../sass/screen.scss */
body .container .header .liens li a:hover {
  border-top: 3px solid #70abcf;
  margin-top: -3px;
}
/* line 181, ../sass/screen.scss */
body .container .accueil {
  padding-top: 100px;
  position: relative;
  height: 100vh;
}
/* line 183, ../sass/screen.scss */
body .container .accueil .slider {
  width: 1600px;
  height: 550px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-device-width: 1400px) {
  /* line 183, ../sass/screen.scss */
  body .container .accueil .slider {
    width: 1200px;
    height: 375px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 183, ../sass/screen.scss */
  body .container .accueil .slider {
    width: 1000px;
    height: 375px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 183, ../sass/screen.scss */
  body .container .accueil .slider {
    width: 800px;
    height: 375px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 183, ../sass/screen.scss */
  body .container .accueil .slider {
    width: 700px;
    height: 375px;
  }
}
@media screen and (max-width: 480px) {
  /* line 183, ../sass/screen.scss */
  body .container .accueil .slider {
    width: 400px;
    height: 137px;
  }
}
/* line 208, ../sass/screen.scss */
body .container .accueil .slider .slideshow {
  width: 3200px;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-device-width: 1400px) {
  /* line 208, ../sass/screen.scss */
  body .container .accueil .slider .slideshow {
    width: 2400px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 208, ../sass/screen.scss */
  body .container .accueil .slider .slideshow {
    width: 2000px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 208, ../sass/screen.scss */
  body .container .accueil .slider .slideshow {
    width: 1600px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 208, ../sass/screen.scss */
  body .container .accueil .slider .slideshow {
    width: 1400px;
  }
}
@media screen and (max-width: 480px) {
  /* line 208, ../sass/screen.scss */
  body .container .accueil .slider .slideshow {
    width: 800px;
  }
}
/* line 228, ../sass/screen.scss */
body .container .accueil .slider .slideshow li {
  display: inline-block;
}
/* line 231, ../sass/screen.scss */
body .container .accueil .slider .slideshow .slider1 {
  width: 1600px;
  height: 550px;
  background-image: url("../images/bg1.jpg");
  transition: left 1s;
}
@media screen and (max-device-width: 1400px) {
  /* line 231, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider1 {
    width: 1200px;
    height: 412px;
    background-size: cover;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 231, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider1 {
    width: 1000px;
    height: 343px;
    background-size: cover;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 231, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider1 {
    width: 800px;
    height: 275px;
    background-size: cover;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 231, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider1 {
    width: 700px;
    height: 240px;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  /* line 231, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider1 {
    width: 400px;
    height: 137px;
    background-size: cover;
  }
}
/* line 261, ../sass/screen.scss */
body .container .accueil .slider .slideshow .slider1 .slogan {
  font-size: 30px;
  padding-top: 140px;
  padding-left: 100px;
}
/* line 265, ../sass/screen.scss */
body .container .accueil .slider .slideshow .slider1 .slogan .bleu {
  color: #70abcf;
}
/* line 268, ../sass/screen.scss */
body .container .accueil .slider .slideshow .slider1 .slogan .blanc {
  color: white;
}
/* line 272, ../sass/screen.scss */
body .container .accueil .slider .slideshow .slider1 .sousSlogan {
  color: white;
  font-size: 14px;
  padding-left: 100px;
}
/* line 277, ../sass/screen.scss */
body .container .accueil .slider .slideshow .slider1 .boutonInfo {
  background-color: #70abcf;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 100px;
}
/* line 285, ../sass/screen.scss */
body .container .accueil .slider .slideshow #slider1:target {
  left: -1600px;
}
@media screen and (max-device-width: 1400px) {
  /* line 285, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider1:target {
    left: -1200px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 285, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider1:target {
    left: -1000px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 285, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider1:target {
    left: -800px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 285, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider1:target {
    left: -700px;
  }
}
@media screen and (max-width: 480px) {
  /* line 285, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider1:target {
    left: -400px;
  }
}
/* line 303, ../sass/screen.scss */
body .container .accueil .slider .slideshow .slider2 {
  width: 1600px;
  height: 550px;
  background-image: url("../images/bg2.jpg");
  transition: left 1s;
}
@media screen and (max-device-width: 1400px) {
  /* line 303, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider2 {
    width: 1200px;
    height: 412px;
    background-size: cover;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 303, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider2 {
    width: 1000px;
    height: 343px;
    background-size: cover;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 303, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider2 {
    width: 800px;
    height: 275px;
    background-size: cover;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 303, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider2 {
    width: 700px;
    height: 240px;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  /* line 303, ../sass/screen.scss */
  body .container .accueil .slider .slideshow .slider2 {
    width: 400px;
    height: 137px;
    background-size: cover;
  }
}
/* line 334, ../sass/screen.scss */
body .container .accueil .slider .slideshow #slider2:target {
  left: 1600px;
}
@media screen and (max-device-width: 1400px) {
  /* line 334, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider2:target {
    left: 1200px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 334, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider2:target {
    left: 1000px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 334, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider2:target {
    left: 800px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 334, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider2:target {
    left: 700px;
  }
}
@media screen and (max-width: 480px) {
  /* line 334, ../sass/screen.scss */
  body .container .accueil .slider .slideshow #slider2:target {
    left: 400px;
  }
}
/* line 354, ../sass/screen.scss */
body .container .accueil .fleches {
  width: 1600px;
  height: 55px;
  position: absolute;
  top: 247px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-device-width: 1400px) {
  /* line 354, ../sass/screen.scss */
  body .container .accueil .fleches {
    width: 1200px;
    top: 178px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 354, ../sass/screen.scss */
  body .container .accueil .fleches {
    width: 1000px;
    top: 144px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 354, ../sass/screen.scss */
  body .container .accueil .fleches {
    width: 800px;
    top: 110px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 354, ../sass/screen.scss */
  body .container .accueil .fleches {
    width: 700px;
    top: 92px;
  }
}
@media screen and (max-width: 480px) {
  /* line 354, ../sass/screen.scss */
  body .container .accueil .fleches {
    width: 400px;
    top: 41px;
  }
}
/* line 381, ../sass/screen.scss */
body .container .accueil .fleches .flecheGauche {
  display: block;
  background-color: silver;
  font-size: 18px;
  color: white;
  line-height: 55px;
  width: 25px;
  border-radius: 0 25px 25px 0;
  padding-left: 5px;
  text-decoration: none;
}
/* line 388, ../sass/screen.scss */
body .container .accueil .fleches .flecheGauche:hover {
  background-color: #70abcf;
}
/* line 391, ../sass/screen.scss */
body .container .accueil .fleches .flecheDroite {
  display: block;
  background-color: silver;
  font-size: 18px;
  color: white;
  line-height: 55px;
  width: 15px;
  border-radius: 25px 0 0 25px;
  padding-left: 15px;
  text-decoration: none;
}
/* line 398, ../sass/screen.scss */
body .container .accueil .fleches .flecheDroite:hover {
  background-color: #70abcf;
}
/* line 402, ../sass/screen.scss */
body .container .accueil .slider2:target .fleches {
  left: 1600px;
}
/* line 407, ../sass/screen.scss */
body .container .services {
  padding-top: 100px;
  position: relative;
  height: 100vh;
}
/* line 410, ../sass/screen.scss */
body .container .services .titreSection h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
}
@media screen and (max-device-width: 1400px) {
  /* line 410, ../sass/screen.scss */
  body .container .services .titreSection h1 {
    padding-top: 25px;
  }
}
@media screen and (max-device-width: 1400px) {
  /* line 410, ../sass/screen.scss */
  body .container .services .titreSection h1 {
    font-size: 25px;
  }
}
/* line 420, ../sass/screen.scss */
body .container .services .titreSection .trait {
  width: 200px;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: silver;
  position: relative;
}
/* line 423, ../sass/screen.scss */
body .container .services .titreSection .rond {
  width: 10px;
  height: 10px;
  background-color: #70abcf;
  border-radius: 25px;
  border: 2px solid white;
  position: absolute;
  margin-left: 95px;
  margin-top: -6px;
}
/* line 426, ../sass/screen.scss */
body .container .services .titreSection h2 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 430, ../sass/screen.scss */
body .container .services .positionServices {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-device-width: 770px) {
  /* line 430, ../sass/screen.scss */
  body .container .services .positionServices {
    display: block;
  }
}
/* line 436, ../sass/screen.scss */
body .container .services .positionServices .image {
  width: 510px;
  height: 319px;
  background-image: url("../images/main-feature.png");
  margin-top: 20px;
}
@media screen and (max-device-width: 1400px) {
  /* line 436, ../sass/screen.scss */
  body .container .services .positionServices .image {
    width: 400px;
    height: 250px;
    background-size: 400px 250px;
    margin-top: 35px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 436, ../sass/screen.scss */
  body .container .services .positionServices .image {
    width: 300px;
    height: 187px;
    background-size: 300px 187px;
    margin-top: 60px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 436, ../sass/screen.scss */
  body .container .services .positionServices .image {
    width: 250px;
    height: 156px;
    background-size: 250px 156px;
    margin-top: 60px;
  }
}
/* line 460, ../sass/screen.scss */
body .container .services .positionServices .listeMetiers {
  width: 1200px;
  list-style: none;
  margin-top: 50px;
}
@media screen and (max-device-width: 1400px) {
  /* line 460, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers {
    width: 850px;
    margin-top: 30px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 460, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers {
    width: 700px;
    margin-top: 40px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 460, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers {
    width: 600px;
    margin-top: 40px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 460, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers {
    width: 700px;
    margin-top: 40px;
  }
}
/* line 480, ../sass/screen.scss */
body .container .services .positionServices .listeMetiers li {
  display: flex;
  justify-content: space-around;
}
/* line 484, ../sass/screen.scss */
body .container .services .positionServices .listeMetiers i {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border: 1px solid silver;
  border-radius: 25px;
  color: #70abcf;
  text-align: center;
  position: relative;
}
@media screen and (max-device-width: 1200px) {
  /* line 484, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
}
/* line 501, ../sass/screen.scss */
body .container .services .positionServices .listeMetiers i span {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 43px;
  top: 19px;
  border-radius: 25px;
  border: 2px solid white;
  background-color: #70abcf;
}
@media screen and (max-device-width: 1200px) {
  /* line 501, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers i span {
    width: 8px;
    height: 8px;
    left: 34px;
    top: 15px;
  }
}
/* line 519, ../sass/screen.scss */
body .container .services .positionServices .listeMetiers .definition {
  width: 1000px;
  margin-bottom: 40px;
}
@media screen and (max-device-width: 1400px) {
  /* line 519, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers .definition {
    width: 700px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 519, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers .definition {
    width: 600px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 519, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers .definition {
    width: 500px;
  }
}
@media screen and (max-device-width: 770px) {
  /* line 519, ../sass/screen.scss */
  body .container .services .positionServices .listeMetiers .definition {
    width: 600px;
  }
}
/* line 534, ../sass/screen.scss */
body .container .services .positionServices .listeMetiers .definition h1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
/* line 539, ../sass/screen.scss */
body .container .services .positionServices .listeMetiers .definition p {
  font-size: 12px;
  line-height: 14px;
}
/* line 548, ../sass/screen.scss */
body .container .portfolio {
  padding-top: 100px;
  position: relative;
  height: 100vh;
  background-color: whitesmoke;
  height: 800px;
}
@media screen and (max-device-width: 1400px) {
  /* line 548, ../sass/screen.scss */
  body .container .portfolio {
    height: 1050px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 548, ../sass/screen.scss */
  body .container .portfolio {
    height: 1340px;
  }
}
/* line 559, ../sass/screen.scss */
body .container .portfolio .titrePortfolio h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
}
/* line 563, ../sass/screen.scss */
body .container .portfolio .titrePortfolio .trait {
  width: 200px;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: silver;
  position: relative;
}
/* line 566, ../sass/screen.scss */
body .container .portfolio .titrePortfolio .rond {
  width: 10px;
  height: 10px;
  background-color: #70abcf;
  border-radius: 25px;
  border: 2px solid white;
  position: absolute;
  margin-left: 95px;
  margin-top: -6px;
}
/* line 569, ../sass/screen.scss */
body .container .portfolio .titrePortfolio h2 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 573, ../sass/screen.scss */
body .container .portfolio .menuPortfolio {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 578, ../sass/screen.scss */
body .container .portfolio .menuPortfolio li {
  list-style: none;
  position: relative;
}
/* line 581, ../sass/screen.scss */
body .container .portfolio .menuPortfolio li a {
  display: block;
  width: 90px;
  height: 30px;
  background-color: #e3e3e3;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
/* line 592, ../sass/screen.scss */
body .container .portfolio .menuPortfolio li a:hover {
  background-color: #70abcf;
  color: white;
  border-bottom: 3px solid #558caa;
  margin-bottom: -3px;
}
/* line 597, ../sass/screen.scss */
body .container .portfolio .menuPortfolio li a:hover span {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 39px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #558caa;
  margin-bottom: -3px;
}
/* line 611, ../sass/screen.scss */
body .container .portfolio .cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 615, ../sass/screen.scss */
body .container .portfolio .cover li {
  width: 350px;
  height: 233px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  list-style: none;
  overflow: hidden;
}
/* line 623, ../sass/screen.scss */
body .container .portfolio .cover li .creative {
  width: 350px;
  height: 233px;
  background-size: 350px 233px;
}
/* line 628, ../sass/screen.scss */
body .container .portfolio .cover li p {
  height: 100px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  transition: margin-top 0.5s ease;
}
/* line 636, ../sass/screen.scss */
body .container .portfolio .cover li:hover p {
  margin-top: -100px;
  color: white;
  font-size: 14px;
  position: relative;
}
/* line 641, ../sass/screen.scss */
body .container .portfolio .cover li:hover p span.grosRond {
  display: block;
  position: absolute;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  background-color: #70abcf;
  border: 2px solid white;
  display: block;
  position: absolute;
  top: -12px;
  margin-left: 260px;
  text-align: center;
}
/* line 654, ../sass/screen.scss */
body .container .portfolio .cover li:hover p span.grosRond .fa {
  font-size: 20px;
  line-height: 25px;
}
/* line 663, ../sass/screen.scss */
body .container .contact {
  padding-top: 100px;
  position: relative;
  height: 100vh;
  margin-bottom: 200px;
}
/* line 667, ../sass/screen.scss */
body .container .contact .titreContact h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
}
/* line 671, ../sass/screen.scss */
body .container .contact .titreContact .trait {
  width: 200px;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: silver;
  position: relative;
}
/* line 674, ../sass/screen.scss */
body .container .contact .titreContact .rond {
  width: 10px;
  height: 10px;
  background-color: #70abcf;
  border-radius: 25px;
  border: 2px solid white;
  position: absolute;
  margin-left: 95px;
  margin-top: -6px;
}
/* line 677, ../sass/screen.scss */
body .container .contact .titreContact h2 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 681, ../sass/screen.scss */
body .container .contact .responsiveMap {
  position: relative;
}
/* line 683, ../sass/screen.scss */
body .container .contact .responsiveMap iframe {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-device-width: 1400px) {
  /* line 683, ../sass/screen.scss */
  body .container .contact .responsiveMap iframe {
    width: 1200px;
    height: 375px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 683, ../sass/screen.scss */
  body .container .contact .responsiveMap iframe {
    width: 1000px;
    height: 312px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 683, ../sass/screen.scss */
  body .container .contact .responsiveMap iframe {
    width: 800px;
    height: 250px;
  }
}
/* line 702, ../sass/screen.scss */
body .container .contact .filtre {
  width: 1600px;
  height: 500px;
  background-color: rgba(143, 201, 219, 0.3);
  position: absolute;
  z-index: 600;
  top: 270px;
}
@media screen and (max-device-width: 1400px) {
  /* line 702, ../sass/screen.scss */
  body .container .contact .filtre {
    width: 1200px;
    height: 375px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 702, ../sass/screen.scss */
  body .container .contact .filtre {
    width: 1000px;
    height: 312px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 702, ../sass/screen.scss */
  body .container .contact .filtre {
    width: 800px;
    height: 250px;
  }
}
/* line 721, ../sass/screen.scss */
body .container .contact .filtre .infos {
  width: 280px;
  height: 430px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px dotted silver;
  margin-top: 30px;
  margin-left: 1050px;
  position: absolute;
}
@media screen and (max-device-width: 1400px) {
  /* line 721, ../sass/screen.scss */
  body .container .contact .filtre .infos {
    width: 200px;
    height: 318px;
    margin-left: 900px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 721, ../sass/screen.scss */
  body .container .contact .filtre .infos {
    width: 200px;
    height: 290px;
    margin-left: 750px;
    margin-top: 10px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 721, ../sass/screen.scss */
  body .container .contact .filtre .infos {
    width: 200px;
    height: 220px;
    margin-left: 380px;
    margin-top: 18px;
  }
}
/* line 746, ../sass/screen.scss */
body .container .contact .filtre .infos h3 {
  margin-left: 10px;
  margin-top: 30px;
  font-weight: 800;
}
@media screen and (max-device-width: 1400px) {
  /* line 746, ../sass/screen.scss */
  body .container .contact .filtre .infos h3 {
    margin-top: 20px;
  }
}
@media screen and (max-device-width: 1200px) {
  /* line 746, ../sass/screen.scss */
  body .container .contact .filtre .infos h3 {
    margin-top: 10px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 746, ../sass/screen.scss */
  body .container .contact .filtre .infos h3 {
    margin-top: 8px;
    font-size: 13px;
  }
}
/* line 761, ../sass/screen.scss */
body .container .contact .filtre .infos .adresse {
  font-size: 14px;
  font-weight: 800;
  margin-left: 10px;
  line-height: 20px;
}
@media screen and (max-device-width: 1400px) {
  /* line 761, ../sass/screen.scss */
  body .container .contact .filtre .infos .adresse {
    line-height: 15px;
  }
}
@media screen and (max-device-width: 1000px) {
  /* line 761, ../sass/screen.scss */
  body .container .contact .filtre .infos .adresse {
    line-height: 13px;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}
/* line 776, ../sass/screen.scss */
body .container .contact .filtre .infos input, body .container .contact .filtre .infos textarea {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid silver;
  background-color: white;
}
@media screen and (max-device-width: 1000px) {
  /* line 776, ../sass/screen.scss */
  body .container .contact .filtre .infos input, body .container .contact .filtre .infos textarea {
    margin-top: -5px;
  }
}
/* line 787, ../sass/screen.scss */
body .container .contact .filtre .infos .envoyer {
  background-color: #70abcf;
  color: white;
  font-size: 12px;
  width: 110px;
  margin-right: 160px;
}
@media screen and (max-device-width: 1400px) {
  /* line 787, ../sass/screen.scss */
  body .container .contact .filtre .infos .envoyer {
    margin-left: 8px;
  }
}
